<!doctype html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ระบบจองที่นั่ง บัตรคอนเสิร์ต</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    </head>
    <body>
	<nav><!-- javascript handle this --></nav>
	<div class="alert alert-info" role="alert" style="display: none" id="login-alart">
	    คุณยังไม่ได้ล็อกอิน <a href="/login" class="alert-link">คลิกที่นี่</a>เพื่อที่จะล็อกอิน
	</div>
	<div class="container-fluid text-center" style="height: 400px; background: url('/pic/concert_banner.jpg')">
	    <div class="position-relative top-50 start-50 translate-middle text-white">
		<h2 class="display-2 ">ระบบจองที่นั่ง บัตรคอนเสิร์ต</h2>
		<p class="fs-4">ยินดีต้อนรับเข้าสู่ระบบจองบัตรคอนเสิร์ตของเรา โปรดเลือกคอนเสิร์ตที่คุณต้องการ</p>
	    </div>
	</div>
	<div id="modals">
	    <!-- modal here -->
	</div>
	<div class="container text-center overflow-hidden" id="concert-container">
	    
	    <div class="row row-cols-4" id="concert-list">
		<!-- concert list here -->
	    </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
	<script src="scripts/share_function.js"></script>
	<script src="scripts/nav.js"></script>
	<script src="scripts/pull_concert_info.js"></script>
    </body>
</html>
